---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1).split("/")[0]
---

<nav>
  <div
    class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16"
  >
    <div>
      <a href="/" class="font-bold text-xl hover:text-hot-pink">JamesBest</a>
    </div>
    <div class="flex flex-row">
      <a href="/search" class={currentPath === "" ? "active pr-1" : "pr-1"}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </a>
      <a
        href="/uses"
        class={currentPath === "uses"
          ? "text-cyan font-bold text-xl hover:text-hot-pink pr-1"
          : "font-bold text-xl hover:text-hot-pink pr-1"}>USES</a
      >
      <a
        href="/code"
        class={currentPath === "code"
          ? "text-cyan font-bold text-xl hover:text-hot-pink pr-1"
          : "font-bold text-xl hover:text-hot-pink pr-1"}>CODE</a
      >
    </div>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>
